<header>
  <nav class="navbar navbar-expand-lg navbar-light sticky-top mb-5">
    <a class="navbar-brand" href="{{ site.github.url }}/"><img id="ar-logo" src="/assets/images/ar-solid-inver-logo.png" alt="ar-logo"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
      aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
          {% for item in site.data.settings.menu %}
          <li class="nav-item">
              <a class="nav-link" href="{{ site.github.url }}/{{ item.folder }}/{{ item.file }}">{{ item.name }}</a>
          </li>
          {% endfor %}
      </ul>
    </div>
  </nav>

</header>