
/* fonts */

@font-face {
  font-family: 'beach_resort';
  src: url('/assets/fonts/beach_resort-webfont.woff2') format('woff2'),
       url('/assets/fonts/beach_resort-webfont.woff') format('woff'),
       url('/assets/fonts/beach_resort.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

/* global */

* {
  font-family: 'Fredoka One', cursive;
  font-family: 'Open Sans', sans-serif;
}

body {
  width: 80vw;
}


/* navbar */

/* logo */
#logo {
  width: 90px;
  height: auto;
}

/* nav-links */

a.nav-link {
  color: $black-shade1 !important;
  font-size: 1.4em;
  letter-spacing: 0.08em;
}

a.nav-link:hover {
  color: $black-shade4 !important;
}


/* home */

/* random word of the day */


#rndmImg {
  width: 280px;
  height: auto;
}

/* dictionary */

.dict-wrap {
  width: 70vw;
}

#word_list {
  max-height: 250px;
  overflow-y: scroll;
  -ms-overflow-style: none;
}

#word_list li {
  list-style-type: none;
  line-height: 1.4em;
  margin-left: -30px;
}

#word_list li:hover {
  cursor: pointer;
  color: purple;
}

#word_list::-webkit-scrollbar {
  display: none;
}




/* footer */
.page-footer {
  font-size: .8rem;
  line-height: 1.2;
  color: $black-shade1;
  background-color: $white-color;
}

.page-footer a {
  color: $black-shade2;
}

.page-footer a:hover {
  color: $black-shade4;
}
